<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.customtoolandgrinding.customtooldataapp">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo_symbol_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CustomToolDataApp"
        android:usesCleartextTraffic="true">
        <service android:name=".services.PunchOutService" />
        <service android:name=".services.PunchInService" />
        <activity
            android:name="com.customtoolandgrinding.customtooldataapp.ui.login.LoginActivity"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.customtoolandgrinding.customtooldataapp.ui.MainActivity" />
    </application>

</manifest>